<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="WarmlyLampChat-ejbPUChat" transaction-type="JTA">
    <jta-data-source>jdbc/warmly_lamp_chat_chat_db</jta-data-source>
    <class>models.chat.ChatUser</class>
    <class>models.chat.Message</class>
    <class>models.chat.Mood</class>
    <class>models.chat.Room</class>
    <class>models.chat.UserRole</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
  <persistence-unit name="WarmlyLampChat-ejbPUAd" transaction-type="JTA">
    <jta-data-source>jdbc/warmly_lamp_chat_ad_db</jta-data-source>
    <class>models.ad.AdBlock</class>
    <class>models.ad.Status</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
